@font-face {
  font-display: swap;
  font-family: "Monserrat";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/montserrat-regular-webfont.eot");
  src: url("./fonts/montserrat-regular-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-regular-webfont.woff") format("woff"),
    url("./fonts/montserrat-regular-webfont.ttf") format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Monserrat";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/montserrat-italic-webfont.eot");
  src: url("./fonts/montserrat-italic-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/montserrat-italic-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-italic-webfont.woff") format("woff"),
    url("./fonts/montserrat-italic-webfont.ttf") format("truetype")
}

@font-face {
  font-display: swap;
  font-family: "Monserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/montserrat-semibold-webfont.eot");
  src: url("./fonts/montserrat-semibold-webfont.eot?#iefix") format("embedded-opentype"),
    url("./fonts/montserrat-semibold-webfont.woff2") format("woff2"),
    url("./fonts/montserrat-semibold-webfont.woff") format("woff"),
    url("./fonts/montserrat-semibold-webfont.ttf") format("truetype")
}
