<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sample React Website: Server Error</title>
        <meta property="og:title" content="Sample React Website: Server Error" />
        <meta property="og:image" content="/img/logo.png" />
        <link rel="image_src" href="/img/logo.png" />
        <meta name="theme-color" content="#889cac" />
        <link rel="manifest" href="/manifest.json" />
        <link href="/favicon.ico?a41f" rel="shortcut icon" type="image/x-icon" />
        <link rel="icon" sizes="144x144" href="/img/icons/144.png" />
        <link rel="canonical" value="/" />
        <link rel="stylesheet" href="/inline.css">
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>
        <div id="root">
            <div class="server-error">
                <h1>Oh no!</h1>
                    <div>
                        <p>Something went wrong and the website crashed. Please try again later.</p>
                        <p>The Dev Team</p>
                    </div>
            </div>
        </div>
        <script src="/common.js" />
    </body>

</html>
